* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

body > div {
  height: 80vh;
  width: 30vw;
  background-color: tomato;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}
header {
  background-color: teal;
  height: 7vh;
  margin: 10% 10% 0% 10%;
}
.div__inner--first {
  height: 30vh;
  margin: 0% 10% 10% 10%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img1 {
  width: 50px;
  height: 50px;
}
